.profileContainer {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}
.profileContainer header {
  display: flex;
  align-items: center;
}
.profileContainer header span {
  font-size: 20px;
  margin-left: 24px;
}
.profileContainer header img {
  height: 64px;
}
.profileContainer header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}
.profileContainer header button {
  height: 60px;
  width: 60px;
  border-radius: 4px;
  border: 1px solid #dcdce6;
  background: transparent;
  margin-left: 16px;
  transition: border-color 0.2s;
}
.profileContainer header button:hover {
  border-color: #999;
}

.profileContainer h1 {
  margin-top: 80px;
  margin-bottom: 24px;
}
.profileContainer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  list-style: none;
}
.profileContainer ul li {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  position: relative;
}
.profileContainer ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  background: #fff;
}
.profileContainer ul li button:hover {
  opacity: .8;
}
.profileContainer ul li strong {
  display: block;
  margin-bottom: 16px;
  color: #414141;
}
.profileContainer ul li strong:not(:first-child) {
  margin-top: 32px;
}
.profileContainer ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}